@model IEnumerable<WebStore.Models.Employee>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>
<body>
    <table>
        @foreach (var em in Model)
        {
            <tr>
                <td>@em.Id</td>
                <td>@em.SurName</td>
                <td>@em.FirstName</td>
                <td>@em.Patronymic</td>
                <td>@em.Position</td>
                <td><a href="~/Home/Employee/@em.Id">Больше информации</a></td>
            </tr>
        }
    </table>

</body>
</html>
