@model WebStore.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee</title>
</head>
<body>
    <h1>Сотрудник №@Model.Id</h1>
    <table>
        <tr>
            <td>@Model.SurName</td>
        </tr>
        <tr>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>@Model.Patronymic</td>
        </tr>
        <tr>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <td>@Model.Position</td>
        </tr>
    </table>

    <hr />

    <a href="~/Home/Employees">Сотрудники</a>
    <a href="~/Home/Index">На главную</a>
</body>
</html>
